POSTGRES_DB=ofc_media
POSTGRES_USER=ofc
POSTGRES_PASSWORD=CHANGE_ME_HEX
OFC_INTERNAL_TOKEN=CHANGE_ME_HEX
OFC_SESSION_PEPPER=CHANGE_ME_HEX
OFC_PLAYBACK_TTL_SECONDS=43200
OFC_PUBLIC_PORT=5090
OFC_SYNC_INTERVAL=120
OFC_TRANSCODE_ENCODER=auto
OFC_MAX_TRANSCODES=1
OFC_HLS_CACHE_GIB=250
OFC_GDRIVE_ROOT_ID=YOUR_GOOGLE_DRIVE_FOLDER_ID
OFC_GDRIVE_SYNC_INTERVAL=300
